---
layout: default
---

<h1>{{ page.title }}<br/>
  <span style="font-size: 18px;">Written by {{ page.data.author }} on {{ page.data.date | date_to_string: "ordinal", "US" }}</span>
</h1>

{{ content }}