<footer>
  <p>&copy; 2010-2022 Slade Watkins; some rights reserved. A production of <a href="https://media.sites.sladewatkins.com">Slade Watkins Media</a>.<br/>
  Legal: <a href="/legal/website-licenses/">Open Source Licenses</a> &bull; <a href="/legal/terms-of-service/">Terms of Service</a> &bull; <a href="/legal/privacy-policy/">Privacy Policy</a></p>
  <a style="display: none;" rel="me" href="https://pope.party/@slade">Mastodon</a>
  <a style="display: none;" rel="me" href="https://pope.party/@blonger">Mastodon</a>
</footer>