<footer>
  <p>&copy; 2010-2022 Slade Watkins; all rights reserved. Text available under the
    <a href="https://github.com/sladewatkins/website/blob/master/textLICENSE">CC-BY-SA-4.0</a>
    license.<br/>A production of
    <a href="https://media.sites.sladewatkins.com">Slade Watkins Media</a>.<br/><br/>Legal:
    <a href="/legal/terms-of-service/">Terms of Service</a>
    &bull;
    <a href="/legal/privacy-policy/">Privacy Policy</a>
  </p>
  <a
    style="display: none;"
    rel="me"
    href="https://tech.lgbt/@sladewatkins">Mastodon</a>
  <a
    style="display: none;"
    rel="me"
    href="https://pope.party/@slade">Mastodon</a>
</footer>